/* BookDetails.css */

body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.book-details {
    display: flex;
    flex-direction: row; /* Aligner en ligne */
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.book-image {
    flex: 1; /* Prendre 1 partie de la ligne */
}

.book-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.book-info {
    flex: 2; /* Prendre 2 parties de la ligne */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.book-author {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 20px;
}

.book-description {
    font-size: 1em;
    color: #333;
    margin-bottom: 20px;
}

.reserve-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    align-self: flex;
}

.reserve-button:hover {
    background-color: #0056b3;
}

.loading,
.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.5em;
}

.userNotAuthDiv {
    border: 2px solid #ff0000; /* Bordure rouge */
    padding: 20px;
    background-color: #fff5f5; /* Fond légèrement rouge pour attirer l'attention */
    border-radius: 10px; /* Bords arrondis */
    margin-top: 20px;
}

.userNotAuth {
    font-size: 18px;
    font-weight: bold;
    color: #ff0000; /* Texte rouge pour le paragraphe principal */
    margin-bottom: 10px;
}

.userNotAuthList {
    padding-left: 20px;
    list-style-type: disc;
}

.userNotAuthList li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #333; /* Couleur de texte foncée */
    background-color: #ffe6e6; /* Fond légèrement rouge pour les éléments de la liste */
    padding: 5px;
    border-radius: 5px; /* Bords arrondis pour les éléments de la liste */
    list-style-type: square;
}


