.table-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;

}

.table-container h1 {
  font-size: 24px;
  margin-bottom: 20px;

}

.reservations-table {
  width: 100%;
  border-collapse: collapse;

}

.reservations-table th, .reservations-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.reservations-table th {
  background-color: #0070f3;
  color: white;

}

.bookLink {
  color: #0070f3;
  text-decoration: none;
}

.bookLink:hover {
  text-decoration: underline;
}

.img:hover {
  cursor: pointer;
}

.button-cancel {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.button-cancel:hover {
  background-color: #c82333;
}

@media (max-width: 504px) {
  .img {
    visibility: hidden;
  }
}
