
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-menu { 
    display: none;
  }
  
  .navbar-menu-toggle {
    display: none !important; 
  }
  
  .navbar-items ul li:hover {
    color: blue;
  }

  .sign2 {
    display: none;
  }

  @media (max-width: 796px) {
    .navbar-items,
    .navbar-buttons {
      display: none !important;
    }
    .navbar-menu-toggle {
      display: block !important;
    }
    .navbar-menu {
      display: block !important;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: white;
      border-top: 1px solid #eaeaea;
    }
  }
  
  @media (max-width: 450px) {
    .sign {
        display: none !important;
    }

    .sign2 {
      display: block !important;
    }
  }

  .active-tab {
    border-bottom: 2px solid blue;
  }

  .profile-menu {
    position: absolute;
    right: 0;
    bottom: 3px;
    transform: translateY(100%);
    width: 200px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  
  .profile-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .profile-menu li {
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .profile-menu li:hover {
    background: #f0f0f0;
  }

  .profile:hover {
    background: #0345aafc;
    border-radius: 15px;
  }

  